.menu{
    display: flex;
    position: absolute;
    padding: 10px;
    background: white;
    bottom: 0;
    left: 0;
    gap: 5px;
    width: 100%;
    
}
.boxzoom{
    display: flex;
    gap: 5px;
    align-items: center;
}
.zoom{
    font-size: 15px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 50%;
    transform: translate(18px, -70%);
}
.editZoom{
    font-size: 50px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}